body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
  background-color: #e9eceb;
  color: #e2e6fe;
}

#container {
  width: 400px;
  margin: 25px auto;
  padding: 10px 25px;
  background-color: black;
  border: 1px solid #d4d4d4;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

#ayb {
  padding: 5px 10px; }

#pinpfork {
  background-color: #909b90;
  padding: 5px 10px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  #pinpfork a { color: #2b2b2b;}
  #pinpfork a:hover { color: #000000;}
  #pinpfork a:visited { color: #303530;}

#gitlive {}

#footer {
  text-align: center;
  color: #909090; }
  .fcopy {
    font-size: smaller;
    text-align: center; }
  .fimg {
    display: inline-block; }
  .humanimg {
    float: right; }

h1 {
  color: #383838;
  font-size: 2em;
  font-weight: bold; }

a {
  color: #075fb2;
  text-decoration: none; }

ul li {
  margin-top: 10px; }

.buttons * {
  padding: 0 0.5em;
  text-align: center;
  margin: 1em 0;
  display: inline; } }

.not_pub {
  background: #dddddd; }

.meta {
  font-size: 10px; }

.to_right {
  float: right; }

.large-button {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
height: 40px;
padding: 0 20px;
font-size: 20px;
line-height: 40px;
}

.button {
background: #B9DE96;
background: -moz-linear-gradient(top,#B9DE96 0,#91CB58 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#B9DE96),color-stop(100%,#91CB58));
background: -webkit-linear-gradient(top,#B9DE96 0,#91CB58 100%);
background: -o-linear-gradient(top,#B9DE96 0,#91CB58 100%);
background: -ms-linear-gradient(top,#B9DE96 0,#91CB58 100%);
background: linear-gradient(top,#B9DE96 0,#91CB58 100%);
border: 1px solid #70A23E!important;
cursor: hand;
cursor: pointer;
display: inline-block;
color: white;
font-weight: bold;
text-decoration: none;
text-shadow: #777 0 1px 0;
-webkit-appearance: none;
}
