body { font-family: "Lucida Grande", sans-serif; font-size: 12px; background-color: #e9eceb; color: #e2e6fe; margin: 35px auto; width: 50%; } 
h1 { color: #383838; font-size: 2em; font-weight: bold; } 
a { color: #075fb2; text-decoration: none; } 
ul { margin: 5px 0; /*padding: 5px 10px;*/ background-color: #606860; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
ul li { padding: 5px 10px; display: inline-block; list-style-type: none; font-weight: bold; text-shadow: 1px 1px 5px #000; } 
p { margin: 0 0 5px; } 
header { text-align: center; } 
header h1 { display: inline; font-size: 32px; } 
header h1 a:link, header h1 a:visited { color: #444; text-decoration: none; } 
header h2 { font-size: 40px; font-style: italic; color: #DDD; margin: 0; text-shadow: 1px 1px #777; }
header h3 { font-style: italic; margin: 0; text-shadow: 1px 1px #222; } 
header p { padding-top: 10px; font-weight: bold; text-shadow: 0 0 10px #fff;}
#menu {}
#menu a, #menu a:hover, #menu a:visited { color: #aaa; }
#container { padding: 0 25px 25px 25px; background-color: black; border: 1px solid #d4d4d4; -moz-border-radius: 8px; -webkit-border-radius: 8px; } 
#main { margin: 0 0 20px; } 
#footer { text-align: center; color: #909090; } 
.fcopy { font-size: smaller; text-align: center; } 
.fimg { display: inline-block; } 
#ayb { padding: 5px 10px; } 
#pinpfork { background-color: #606860; padding: 5px 10px; text-align: center; font-weight: bold; margin-top: 10px; margin-bottom: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; text-shadow: 0 0 5px #222; } 
#pinpfork a, #pinpfork a:hover, #pinpfork a:visited { color: #aaa; font-weight: bold; text-shadow: 1px 1px 5px #000; } 
article { border: 1px solid #eee; margin-top: 10px; padding: 15px 10px; color: #f2f6ff; background: #424242; text-shadow: 0 0 5px #555; } 
article h3 { border-bottom: 1px solid #777; margin: 0 0 10px 0; text-shadow: 1px 1px 5px #000; } 
article a, article a:hover, article a:visited { color: #aaa; font-weight: bold; text-shadow: 1px 1px 5px #000; } 
article.complete { background: #373; } 
article span { font-size: 0.8em; } 
.meta { font-size: 10px; font-style: italic; color: #888; } 
.to_right { float: right; } 
