body { 
  font-family: "Lucida Grande", sans-serif; 
  font-size: 12px; background-color: #e9eceb; 
  color: #e2e6fe; margin: 35px auto; width: 640px; }
h1 { color: #383838; font-size: 2em; font-weight: bold; }
a { color: #075fb2; text-decoration: none; }
ul li { margin-top: 10px; }
p { margin: 0 0 5px; }

header {
  text-align: center; margin: 0; padding: 0 0 20px 0; border-bottom: 1px solid #555; }
header h1 { display: inline; font-size: 32px; }
header h1 a:link, header h1 a:visited { color: #444; text-decoration: none; }
header h2 { 
  font-size: 40px; font-style: italic; color: #DDD; margin: 0; text-shadow: 1px 1px #777; }
header p { padding-top: 10px; }

#container { 
  padding: 0 25px 25px 25px; background-color: black; border: 1px solid #d4d4d4; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
#main {
  margin: 0 0 20px; }
#footer { text-align: center; color: #909090; }
  .fcopy { font-size: smaller; text-align: center; }
  .fimg { display: inline-block; }

#ayb { padding: 5px 10px; }

#pinpfork { 
  background-color: #909b90; padding: 5px 10px; text-align: center; margin-top: 10px;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; }
  #pinpfork a { color: #2b2b2b; }
  #pinpfork a:hover { color: #000000; }
  #pinpfork a:visited { color: #303530; }

#gitlive {}

article {
  border: 1px solid #eee; margin-top: 10px; padding: 15px 10px; 
  color: #e2e6df; background: #4b4b4b; }
article h3 { border-bottom: 1px solid #777; margin: 0 0 10px 0; }
article.complete { background: #373; }
article span { font-size: 0.8em; }
.meta { font-size: 10px; font-style: italic; color: #888; }
.links { font-size: 1.8em; line-height: 0.8em; float: right; margin: -10px 0 0; }
.links a { display: block; text-decoration: none; }

.buttons * { padding: 0 0.5em; text-align: center; margin: 1em 0; display: inline; }
.to_right { float: right; }
.large-button { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; height: 40px; padding: 0 20px; font-size: 20px; line-height: 40px; }
.button { background: #B9DE96; background: -moz-linear-gradient(top,#B9DE96 0,#91CB58 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#B9DE96),color-stop(100%,#91CB58)); background: -webkit-linear-gradient(top,#B9DE96 0,#91CB58 100%); background: -o-linear-gradient(top,#B9DE96 0,#91CB58 100%); background: -ms-linear-gradient(top,#B9DE96 0,#91CB58 100%); background: linear-gradient(top,#B9DE96 0,#91CB58 100%); border: 1px solid #70A23E!important; cursor: hand; cursor: pointer; display: inline-block; color: white; font-weight: bold; text-decoration: none; text-shadow: #777 0 1px 0; -webkit-appearance: none; }
